@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #151515;
	--background-color: #fff;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Login */
.body_login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/assets/images/fondo_login_comida.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper_login {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper_login h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper_login .input-box_login {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box_login input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box_login input::placeholder {
    color: #fff;
}

.input-box_login i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper_login .remember-forgot_login {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot_login label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot_login a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot_login a:hover {
    text-decoration: underline;
}

.wrapper_login .btn_login {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper_login .register-link_login {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link_login p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link_login p a:hover {
    text-decoration: underline;
}





/* Home */

/* Header */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .img-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .img-basket {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}

.content-buttonlogout {
    display: flex;
	flex-direction: column;
}

.sub-menu-wrap {
    position: absolute;
    top: -1%;
    left: 64%;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
    display: none;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
    display: block;
}

.sub-menu {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 10px;
}

.sub-menu i {
    font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.sub-menu button {
    margin-top: .3rem;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    border: 2px solid #000;
    text-transform: uppercase;
    font-weight: bold;
}

/* Navbar */
.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}

/* Banner */
.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
		url('/assets/images/hamburguesa_banner.jpg');
	height: 60rem;
	background-size: cover;
	background-position: center;
}

.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.content-banner p {
	color: var(--background-color);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}

/* Main Content */
.main-content {
	background-color: var(--background-color);
}

/* Features */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.card-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 0;
    border: 2px solid #000;
}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500;
}

/* Galery */
.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}

/* Footer */
.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
    color: #fff;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--background-color);
}

.social-icons {
	display: flex;
	gap: 1rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	border: 2px solid #fff;
}

.social-icons span i {
	color: #fff;
	font-size: 1.4rem;
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--background-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
    color: #fff;
}

/* Categories */

.top-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-category {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
}

.category-moca {
    background-image: linear-gradient(#00000080, #00000080), url('/assets/images/papas_fritas.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-capuchino {
    background-image: linear-gradient(#00000080, #00000080), url('/assets/images/gorditas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-expreso {
    background-image: linear-gradient(#00000080, #00000080), url('/assets/images/tacos_campechanos.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-category p {
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.card-category p::after {
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category span {
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-category span:hover {
    color: var(--primary-color);
}

/* Top Products */

.top-products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span {
    color: #777;
    background-color: #fff;
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.container-options span.active {
    background-color: var(--primary-color);
    color: #fff;
}

/* Products */

.container-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card-product {
    background-color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Oculta elementos fuera del contenedor */
	padding: 1.3rem 2rem; /* Disminuye el padding para hacer la tarjeta más compacta */
    max-width: 250px; /* Ajusta la anchura máxima según lo deseado */
}

.card-product:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.container-img {
    position: relative;
}

.container-img img {
    width: 100%;
}

.container-img .discount {
    position: absolute;
    left: 0;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover .discount {
    background-color: #000;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -4.5rem; /* Totalmente ocultos */
    z-index: -1;
    transition: all 0.4s ease; /* Reducción del tiempo para ocultar los botones rápidamente */
}

.button-group span {
    border: 1px solid var(--primary-color);
    padding: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button-group span:hover {
    background-color: var(--primary-color);
}

.button-group span i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.button-group span:hover i {
    color: #fff;
}

.card-product:hover .button-group {
    z-index: 0;
    right: -1rem;
    transition: all 0.4s ease; /* Aumenta el tiempo para una aparición suave */
}

.content-card-product {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.stars {
    grid-row: 1/2;
    grid-column: 1/-1;
}

.stars i {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.content-card-product h3 {
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.content-card-product h3:hover {
    color: var(--primary-color);
}

.add-cart {
    justify-self: start;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover {
    background-color: var(--primary-color);
}

.add-cart i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.add-cart:hover i {
    color: #fff;
}

.content-card-product .price {
    justify-self: end;
    align-self: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.content-card-product .price span {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: 0.5rem;
}

.day-menu {
    margin-bottom: 3rem; /* Espacio entre los días */
}

/* Estilos para el encabezado de los menús */
.header-category {
    background-image: url('/assets/images/Fondo\ Menus.jpg');
    background-size: cover;
    background-position: center;
    padding: 12rem; /* Mayor espacio alrededor del texto */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 2rem auto 1.5rem; /* Espacio superior e inferior */
    width: calc(100% - 2rem); /* Se ajusta al ancho total menos un margen */
    max-width: 1200px; /* Limita el ancho a un tamaño específico */
    box-sizing: border-box;
}

/* Ajuste del título en el encabezado */
.header-category .heading-1 {
    color: #fff; /* Color del texto */
    font-size: 4rem; /* Tamaño del texto */
    text-align: center;
    margin: 0;
}

.container-categories a {
    text-decoration: none; /* Quita el subrayado */
    outline: none; /* Quita la línea de enfoque azul */
}

.container-categories a:focus {
    outline: none; /* Quita la línea de enfoque azul al estar enfocado */
}

/* Preguntas Frecuentes */

/* Contenedor general para la sección de preguntas frecuentes */
.container-faq {
    padding: .3rem 1rem;
    margin-top: 2rem; /* Separación de la navbar */
    margin-bottom: 3rem; /* Separación del footer */
}

/* Título principal */
.container-faq .heading-1 {
    font-size: 2.5rem; /* Tamaño del texto */
    text-align: center;
    margin: 0;
    margin-bottom: 3rem; /* Ajusta el espacio inferior para separarlo de las tarjetas */
}

/* Contenedor de las tarjetas de preguntas y respuestas */
.container-questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 1rem auto 0; /* Ajusta el margen superior para acercarlo a la Navbar */
}

/* Estilos generales para las tarjetas de preguntas y respuestas */
.faq-card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 100%;
    align-items: center;
}

.faq-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo de la pregunta */
.faq-question p {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

/* Estilo de la respuesta */
.faq-answer p {
    font-size: 1.4rem;
    color: #555;
    margin: 0;
}

/* Asegurar que las tarjetas no se peguen al borde */
.container-questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto; /* Elimina el margen superior aquí */
}

/* Sección de separación con el Navbar */
.container-faq {
    margin-top: 3rem;
}

.header-questions {
    margin-top: -1rem; /* Ajusta el margen superior para mover el título más cerca de la Navbar */
    padding: 1.5rem 0; /* Ajusta el espacio alrededor del título si es necesario */
}

/* Nosotros */

/* Contenedor principal de la página */
.container-novels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo del formulario de contacto */
.form-contact {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.form-contact h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.form-contact label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.form-contact input,
.form-contact textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.form-contact textarea {
    resize: vertical;
}

.form-contact button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.form-contact button:hover {
    background-color: #000;
}

/* Mapa en la mitad derecha */
.map-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border-radius: 1rem;
    border: 1px solid #ddd;
}

/* Datos del establecimiento */
.store-info {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.store-info h3 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.store-info p {
    margin-bottom: 0.8rem;
    font-size: 1rem;
    color: #555;
}

.heading-1 {
    text-align: center; /* Centra el texto */
    margin-top: 2rem; /* Espacio entre el Navbar y el título */
    margin-bottom: 2rem; /* Espacio entre el título y la siguiente sección, igual al superior */
    font-size: 2.5rem; /* Tamaño del texto */
}
